.codeBox {
  background-color: #e4e4e4;
  border-radius: 8px;
  padding: 16px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #000000;
}


/* Responsive styling */
@media (max-width: 600px) {
  .codeBox {
    padding: 12px;
  }
}
