* {
    margin: 0;
    padding: 0;
}

.Main_Banner {
    height: 40vh;
    background-color: rgb(46, 46, 141);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    font-size: 40px;
}

/* ============================================================ */

@media screen and (max-width: 768px) {
    .Main_Banner {
        height: 30vh;
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

}
