* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.link_Item {
    text-decoration: underline;
    color: blue;
}

h1,
h2,
h3 {
    margin: 10px 0;
    font-weight: bold;
}

table,
thead,
tbody,
td,
tr,
th {
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 20px 0;
    padding: 2px 10px;
}

.Main {
    margin: 0;
    padding: 0;
}

.ul_tag_Privacy {
    margin-left: 70px;
}

.ol {
    margin-left: 40px;
    list-style: decimal;
}

.li_ol {
    margin: 20px;
}

.LeftMargin {
    margin-left: 50px;
}

.li_tag_privacy {
    margin: 20px;
    list-style: circle;
}

.paddingLeft {
    padding-left: 50px;
}

.IMG {
    width: 50vw;
}

.main_content {
    display: flex;
    justify-content: center;
    width: 60vw;
    font-size: 18px;
    margin-top: 10px;
}

.main {
    font-weight: 300;
}

/* ====================================================== */

@media (max-width: 480px) {
    .gridContainer {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .main_content {
        width: 90vw;
        display: block;
    }

    .IMG {
        width: 90vw;
    }

    .paddingLeft {
        padding-left: 0px;
    }

    .LeftMargin {
        margin-left: 0px;
    }

    .li_tag_privacy {
        margin: 5px;
    }

    .ul_tag_Privacy {
        margin-left: 15px;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    .gridContainer {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .main_content {
        width: 90vw;
        display: block;
    }

    .IMG {
        width: 90vw;
    }

    .paddingLeft {
        padding-left: 0px;
    }

    .LeftMargin {
        margin-left: 0px;
    }

    .li_tag_privacy {
        margin: 5px;
    }

    .ul_tag_Privacy {
        margin-left: 15px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .gridContainer {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .main_content {
        width: 90vw;
        display: block;
    }

    .IMG {
        width: 90vw;
    }

    .paddingLeft {
        padding-left: 0px;
    }

    .LeftMargin {
        margin-left: 0px;
    }

    .li_tag_privacy {
        margin: 5px;
    }

    .ul_tag_Privacy {
        margin-left: 15px;
    }

}
