* {
    margin: 0;
    padding: 0;
}

.GS_Logo {
    /* color: black; */
    font-weight: 600;
    font-size: 20px;
}

.ul_tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li_tag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.Footer {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 0;
}
