.ul_tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li_tag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

nav {
    display: flex;
}

.drTBtn {
    margin-left: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    /* color: grey; */
    padding: 0 10px 0 10px;
}

.GS_Logo {
    /* color: black; */
    font-weight: 600;
    font-size: 20px;
}

.GS_Logo:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo_img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.link {
    text-decoration: none;
    list-style: none;
    /* color: grey; */
}

.link:hover {
    text-decoration: underline;
    /* color: rgb(0, 0, 0); */
}
